.statusBar {
	grid-area: statusBar;
	padding: 16px 15px;
	border-radius: 9px;
	display: grid;
	margin-top: 20px;
	grid-template-columns: 1fr auto auto;
}
.statusBarTitle {
	font-size: 18px;
	color: #fafafa;
	margin-right: 5px;
}
.statusBarIcon {
	margin-left: 5px;
}
.view,
.sorting {
	display: grid;
	grid-template-columns: 1fr auto auto;
	margin-left: 20px;
	align-items: center;
}
