.input {
  width: 100%;
  padding: 15px 15px;
  font-size: 17px;
}
.notValid {
  display: block;
  font-size: 14px;
  color: #dc4055;
}

.inputContainer {
  display: flex;
  position: relative;
}
.passwordEye {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
