.auth {
  grid-area: authBar;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 15px;
  padding: 0 15px;
  .input {
    margin-top: 20px;
  }
  .signUp {
    margin-left: 0;
    background-color: #e3ab37;
  }
  .signIn {
    margin-left: 25px;
    background-color: #dc4055;
  }
}

.authTitle {
  font-size: 18px;
  color: #fafafa;
  text-align: right;
  margin: 15px 0 8px;
}
.authBar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}

.cartButton {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 15px 0;
}
.cartIcon {
  width: 80px;
  height: 80px;
}
.cartActions {
  text-align: right;
  padding: 10px 15px 40px;

  grid-column: 1 / 3;
  a {
    color: #fafafa;
    padding-left: 10px;
  }
}

.authContent {
  padding: 15px 30px;
  width: 300px;
  width: 300px;
  text-align: center;
  .signUp {
    margin-left: 0;
    background-color: #e3ab37;
  }
  .signIn {
    margin-left: 25px;
    background-color: #dc4055;
  }
  .input {
    margin-top: 20px;
  }
  .rememberMe {
    margin: 20px 5px 0 0;
  }
}

.animateShake {
  animation: animateShake 300ms;
}
@keyframes animateShake {
  0% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
