.chat {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 30px;
	grid-row-gap: 10px;
	grid-template-areas:
		'chatroomUserList messageList'
		'sendMessageForm sendMessageForm';
}
