.button {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.mlIcon {
  margin-left: 5px;
}
