
.errorBoundaryWrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	background-color: #333333;
	.errorBoundaryContainer {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		padding: 30px 15px;
		
	}
	.somethingWentWrongImage {
		width: 250px;
		padding-top: 30px;
	}
	.reloadButton {
		background-color: #E3AB37;
	}
	.description {
		color: #fafafa;
		margin: 15px 0 30px;
	}
}
