@font-face {
  font-family: Quicksand;
  src: url('./../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Quicksand;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.page-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 8px;
}
.bg-dark  {
  background-color: #333;
}
.bg-black  {
  background-color: #191919;
}
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vh;
}
