.filters {
  grid-area: filters;
  margin-top: 10px;
  border-radius: 9px;
  & > *:first-child {
    border-top: none;
  }
  .details {
     padding: 15px 15px 20px;
     border: none;
  }
  .applyFilters {
    display: flex;
    justify-content: center;
    margin: 15px;
    &Button {
      color: #fafafa;
      &:active {
        color: #333333;
      }
    }
  }
}

