
.sendMessageFormContainer {
	grid-area: sendMessageForm;
}
.sendMessageForm {
	display: grid;
	grid-template-areas:
		'name actions'
		'message actions'
	;
	grid-template-columns: 1fr auto;
	grid-gap: 10px;
	.nameField {
		grid-area: name;
	}
	.name {
		border-radius: 9px;
	}
	.messageField {
		grid-area: message;
	}
	.message {
		width: 100%;
		border-radius: 9px;
		resize: none;
	}
	.actions {
		grid-area: actions;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.sendMessageButton {
		width: 55px;
		height: 55px;
		border: none;
		outline: none;
		border-radius: 9px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #E3AB37;
		box-shadow: 2px 2px 3px 1px darken(#E3AB37, 35%);
		&:active {
			box-shadow: inset 0px 0px 3px -1px darken(#E3AB37, 75%);
		}
	}
	.sendMessage {
		margin-left: -2px;
	}
}

