$searchHeight: 54px;

.searchForm {
  padding: 10px 0 20px;
  height: 56px;
}
.searchContainer {
  display: flex;
  max-height: $searchHeight;
  border: 1px solid #fafafa;
  border-radius: $searchHeight / 6;
}
.searchField {
  padding: 16px 10px;
  font-size: 19px;
  flex: 1;
  background-color: #333;
  border: none;
  outline: none;
  border-radius: ($searchHeight / 6) 0 0 ($searchHeight / 6);
  color: #fafafa;
  &::placeholder {
    font-style: italic;
    color: #777;
  }
  &::-webkit-search-cancel-button {
    //-webkit-appearance: none;
  }
}
.searchButton {
  width: $searchHeight;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 ($searchHeight / 6) ($searchHeight / 6) 0;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  &:active {
    outline: none;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: $searchHeight / 1.5;
    background-color: #fafafa;
  }
  &:hover {
    .searchIcon {
      fill: #777;
    }
  }
  &:active {
    .searchIcon {
      fill: lighten(#777, 20%);
    }
  }
}
.searchIcon {
  fill: #fff;
}
