.headerContainer {
	grid-area: header;
	display: grid;
	grid-template-areas:
		'logo authBar'
		'headerMenu authBar'
		'searchForm authBar'
	;
	grid-template-columns: 7fr 5fr;
	padding: 0 15px;
	margin-top: 8px;
	border-radius: 9px;
	@media(max-width: 768px) {
		grid-template-columns: 12fr;
		grid-template-areas:
			'logo'
			'headerMenu'
			'searchForm'
			'authBar'
	;
	}
}
.headerLeft {
	grid-area: headerLeft;
	padding: 0 15px;
}
.logo {
	grid-area: logo;
	margin-top: 8px;
	margin-left: 8px;
}
