
.textAreaContainer {
	display: flex;
	position: relative;
}
.textArea {
	width: 100%;
	padding: 15px 15px;
	font-size: 17px;
}
.textArea::-webkit-scrollbar {
	width: 8px;
	height: 100%;
	cursor: pointer;
}
.textArea::-webkit-scrollbar-track {
	background-color: #dfdfdf;
	border-radius: 10px;
}
.textArea::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	cursor: pointer;
}
.notValid {
	display: block;
	font-size: 14px;
	color: #dc4055;
}
