.auth {
  flex: 5;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 15px;
  padding: 0 15px;
}

.authTitle {
  font-size: 18px;
  color: #fafafa;
  text-align: right;
  margin: 15px 0 8px;
}
.authBar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.signUp {
  margin-left: 0;
  background-color: #E3AB37;
}
.signIn {
  margin-left: 25px;
  background-color: #DC4055;
}
.cartButton {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 15px 0;
}
.cartIcon {
  width: 80px;
  height: 80px;
}
.cartActions {
  text-align: right;
  padding: 10px 15px 40px;

  grid-column: 1 / 3;
  a {
    color: #fafafa;
    padding-left: 10px;
  }
}

.authContent {
  padding: 15px 30px;
}
.input {
  margin-top: 20px;
}
